<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nabla.sdk.demo"
    >

    <application
        android:name=".DemoApp"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nabla.Sdk.Demo"
        tools:ignore="MissingApplicationIcon"
        >
        <activity
            android:name=".scene.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".scene.ConversationActivity" />

        <meta-data
            android:name="com.nabla.sdk.PUBLIC_API_KEY"
            android:value="dummy-public-api-key" />
    </application>

</manifest>
