<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <application>
        <activity
            android:name="com.nabla.sdk.videocall.VideoCallActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:immersive="true"
            android:label="@string/nabla_video_call_activity_label"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            tools:targetApi="24"
            />
    </application>
</manifest>