<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application tools:ignore="RtlEnabled">
        <provider
            android:authorities="${applicationId}.nabla.docscanner.documentscanprovider"
            android:name=".core.providers.DocumentScanProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nabla_document_file_paths" />
        </provider>
        <activity android:name="com.nabla.sdk.docscanner.ui.DocumentScanActivity"/>
    </application>
</manifest>