<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application tools:ignore="RtlEnabled">
        <activity
            android:name="com.nabla.sdk.messaging.ui.fullscreenmedia.scene.FullScreenImageActivity"
            android:theme="@style/NablaFullScreenMediaActivityTheme"
            />
        <activity
            android:name="com.nabla.sdk.messaging.ui.fullscreenmedia.scene.FullScreenVideoActivity"
            android:theme="@style/NablaFullScreenMediaActivityTheme"
            />
        <activity android:name="com.nabla.sdk.messaging.ui.scene.messages.ConversationActivity" />

        <provider
            android:name=".fullscreenmedia.provider.SharingProvider"
            android:authorities="${applicationId}.nabla.messaging.ui.sharefileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nabla_share_file_paths"
                />
        </provider>
    </application>
</manifest>